:root {
    --appColorBackground: rgb(27, 128, 41);
    --btnCallback: rgb(90, 150, 235);
    --btnCallbackHover: rgb(90, 175, 235);
    --btnConfirm: rgb(15, 150, 35);
    --btnConfirmHover: rgb(15, 175, 35);
    --btnNextBack: rgb(190, 170, 110);
    --btnNextBackHover: rgb(190, 195, 110);
    --btnNo: rgb(220, 35, 20);
    --btnNoHover: rgb(220, 60, 20);
    --btnOther: rgb(220, 175, 60);
    --btnOtherHover: rgb(220, 200, 60);
}

* {
    /* border: 1px solid red; */
    border-collapse: collapse;
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: sans-serif;
}

.hidden, .switchVer {
    display: none;
}

/* >> BUTTONS <<*/
.btn {
    border: none;
    border-radius: 5px;
    color: rgb(255,255,255);
    font-weight: 700;
    height: 40px;
    letter-spacing: 0.3px;
    margin: 5px;
    padding: 10px;
    width: 170px;
}

.btn:hover {
    cursor: pointer;
    box-shadow: 0 5px 5px 0 rgba(0,0,0,0.2), 0 5px 5px 0 rgba(0,0,0,0.2);
}

.btn-callback {
    background-color: var(--btnCallback);
    grid-column: 3;
}

.btn-callback:hover {
    background-color: var(--btnCallbackHover);
} 

.btn-confirm {
    background-color: var(--btnConfirm);
}

.btn-confirm:hover {
    background-color: var(--btnConfirmHover);
}

.btn-other {
    background-color: var(--btnOther);
    grid-column: 2;
}

.btn-other:hover {
    background-color: var(--btnOtherHover);
} 

#btn-next {
    align-self: flex-end;
}

.btn-next-back {
    background-color: var(--btnNextBack);
}

.btn-next-back:hover {
    background-color: var(--btnNextBackHover);
} 

.btn-no {
    background-color: var(--btnNo);
    grid-column: 1;
}

.btn-no:hover {
    background-color: var(--btnNoHover);
} 

/* >> HEADER <<*/
.app {
    border-radius: 10px;
    box-shadow: 0 0 20px -1px rgb(0,0,0);
    margin: 10px auto;
    width: 700px;
}

.app-header {
    align-items: center;
    background-color: var(--appColorBackground);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: rgb(255, 255, 255);
    display: flex;
    font-size: 14px;
    padding: 5px 20px;
}

.app-header-logo {
    filter: invert(1);
    text-align: center;
    width: 40%;
}

.app-header-details {
    width: 60%;
}

td, th {
    font-weight: 500;
    padding: 3px;
    text-align: right;
}

td {
    font-weight: 700;
    letter-spacing: 0.3px;
    padding-left: 20px;
    text-align: left;
}

/* >> BODY <<*/
.app-form, .app-ver {
    border-top: 10px double var(--appColorBackground);
    border-bottom: 10px double var(--appColorBackground);
    height: 700px;
    padding: 20px;
}

label, input {
    margin-bottom: 10px;
}

label {
    display: inline-block;
    font-size: 18px;
    font-weight: 700;
    margin-right: 10px;
    text-align: right;
    width: 150px;
}

.label-title {
    font-size: 14px;
    font-weight: normal;
    text-align: left;
    width: 50px;
}

.label-product {
    text-align: left;
    margin-left: 160px;
    width: 300px;
}

.label-product:first {
    text-align: left;
    width: 300px;
}

input {
    font-size: 14px;
    width: 300px;
}

input[type="radio"] {
    width: 10px;
}

.form-comments {
    color: rgb(128,128,128);
    font-size: 11px;
    font-style: italic;
    margin-left: 10px;
    vertical-align: middle;
}

p {
    margin: 10px 0;
}

.app-ver-data {
    font-weight: 600;
    margin: 5px 0;
}

/* >> FOOTER <<*/
.app-footer {
    align-items: center;
    background-color: var(--appColorBackground);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: grid;
    gap: 25px;
    grid-template-columns: 3;
    grid-template-rows: 1;
    justify-content: center;
    padding: 5px 0px;
}